doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge;URL='http://wardHVACstatic.com/index.html'")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Ward HVAC
    link(href='styles/main.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  body.container-fluid
    .row
      include Global/header.pug
      .copy-content
        h1.heading Hello World
        div.col-xs-12.link-heading
          span.before-test
          h3 Header for this Link!
          p
          |This is the are for some text about this infographic. Helpfully this will take you somewhere else in the site.
        h3.CTA CTA Test
        p.text
        | Food truck ea disrupt, ennui sint pariatur mumblecore pitchfork cold-pressed irure four dollar toast lyft organic. Occaecat biodiesel sartorial, occupy fam beard freegan. Cornhole food truck chicharrones, semiotics odio sartorial locavore slow-carb dreamcatcher yr vero pariatur poke. Squid ut seitan, retro 90's offal eiusmod cronut. Keytar squid master cleanse nisi, poke kombucha pug health goth labore tattooed yuccie twee. Keffiyeh proident quis, occupy excepteur tousled listicle polaroid tilde. Nostrud you probably haven't heard of them readymade, aute viral organic pinterest green juice umami fam farm-to-table. Et mlkshk kitsch plaid in enim. Typewriter hella cliche selvage, photo booth biodiesel salvia bespoke health goth blog hot chicken quinoa brooklyn try-hard intelligentsia. Duis semiotics fingerstache, irure biodiesel la croix consectetur flexitarian kale chips kickstarter mollit fanny pack authentic kinfolk kombucha. Aute placeat enamel pin bicycle rights nulla laboris whatever. Quinoa seitan four dollar toast, gastropub cronut umami enim blog raw denim 90's gluten-free enamel pin bushwick. Anim hexagon nulla culpa vaporware snackwave, chicharrones adipisicing art party. Organic seitan meggings four dollar toast flexitarian, keytar hot chicken normcore celiac typewriter pok pok. Authentic do labore tacos. Viral salvia cillum, beard pour-over edison bulb exercitation. Tilde cronut venmo retro, locavore pitchfork photo booth roof party seitan. Aesthetic typewriter art party tempor. Semiotics jianbing voluptate, etsy tempor tofu you probably haven't heard of them. Gastropub mlkshk paleo intelligentsia, chartreuse lomo butcher chillwave flannel activated charcoal freegan minim neutra gochujang. Laborum fashion axe kinfolk single-origin coffee raclette. Quis four loko velit wolf sriracha, id fingerstache af cronut. Mumblecore polaroid af, semiotics skateboard roof party woke hammock deserunt mixtape eu commodo. Retro commodo schlitz, pug pop-up squid hoodie cillum occaecat poke. Godard sunt vice, retro butcher meditation bespoke adipisicing copper mug cornhole dolor cray banh mi squid. Assumenda 3 wolf moon non, sartorial brooklyn brunch synth. Cornhole magna live-edge, nihil pug sed hell of vegan dolor dreamcatcher copper mug. Ut occaecat church-key blog. Bitters nulla microdosing wayfarers street art helvetica paleo williamsburg, hell of est chillwave church-key. Literally man braid seitan twee 90's salvia, laboris heirloom fam hell of gastropub ad gochujang bespoke leggings. Try-hard readymade single-origin coffee, placeat pour-over artisan laboris meditation tumblr chicharrones kombucha in messenger bag fam small batch. Chambray assumenda austin, fam gochujang scenester organic cornhole small batch hot chicken direct trade bitters lyft vexillologist forage. Kitsch nulla aliqua, 3 wolf moon ut wayfarers gluten-free in +1 post-ironic flannel whatever kickstarter ex brooklyn. Minim quinoa actually PBR&B readymade. Blog pariatur consequat, jean shorts seitan vinyl chambray gastropub. Brunch before they sold out mlkshk, activated charcoal direct trade cornhole gastropub non. Humblebrag meggings normcore, four loko consequat hoodie plaid keytar duis tumeric est tousled. Et sustainable quis, hella twee commodo pariatur yr gochujang fixie do. YOLO etsy sed, lomo adipisicing man braid paleo salvia franzen aesthetic next level dolore sustainable tofu. Fam tofu enamel pin, truffaut edison bulb locavore 90's. La croix woke fap, minim stumptown synth biodiesel aliqua. Hell of selvage mlkshk, stumptown waistcoat aesthetic dolor craft beer fanny pack pitchfork velit. Aliquip nihil ugh, microdosing ad tousled pinterest shoreditch edison bulb. Before they sold out four loko YOLO et ugh vinyl accusamus 8-bit. Salvia la croix tbh plaid, poutine meh id brunch small batch unicorn dolor ad iceland fashion axe occaecat. Edison bulb jean shorts heirloom tofu, la croix 3 wolf moon live-edge qui truffaut salvia tousled. Minim do hexagon poke austin chicharrones non typewriter meditation venmo. Pour-over 3 wolf moon PBR&B cray paleo ut. Single-origin coffee forage four dollar toast delectus. Ad hella raclette elit, aliqua reprehenderit pok pok try-hard sustainable squid. Fam ea eu do 8-bit hexagon pariatur retro, dolor quinoa cronut bicycle rights. Cillum ullamco duis cliche, celiac commodo nesciunt consectetur bicycle rights messenger bag pork belly franzen. Selvage 90's cillum mixtape sartorial. Paleo aesthetic nihil cillum. Next level austin poke 8-bit ennui, butcher +1 aesthetic you probably haven't heard of them single-origin coffee beard officia tumeric pitchfork. Irure cronut semiotics, put a bird on it pitchfork edison bulb fixie ullamco. Esse organic prism kogi magna. Dolore schlitz et, chartreuse single-origin coffee selfies post-ironic marfa af pour-over four dollar toast voluptate consequat mlkshk. Venmo prism glossier normcore. Aute nostrud pork belly chartreuse plaid, tacos trust fund 8-bit blog quinoa four dollar toast officia vice duis edison bulb. Est sint butcher pok pok 90's migas. Est health goth post-ironic farm-to-table id cornhole. Cornhole succulents truffaut fam. Oh. You need a little dummy text for your mockup? How quaint. I bet you?re still using Bootstrap too?
    include Global/footer.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
