body {
  background: #636363;
  text-align: center; }

.bg-fill {
  /*background: $text-color;*/ }
  .bg-fill .logo-navi {
    background: white;
    width: 100%;
    margin: 0px;
    padding: 30px 0px; }

nav ul {
  background: #002b80;
  font-size: 25px;
  list-style: none;
  margin: 0%;
  padding: 0%; }
  nav ul a {
    display: inline-block;
    padding: 2% 8%;
    font-size: larger; }
    nav ul a li {
      color: white; }
  nav ul a:hover {
    background: #1A5AC8;
    text-decoration: none; }

.util-navi {
  text-align: center;
  background: #1A9AC3;
  font-size: large; }
  .util-navi a {
    padding: 0% 4%;
    margin: 0%; }

.copy-content {
  background: white; }

.footer-section {
  background-color: #1A5AC8;
  padding: 1em 0em 3em 0em; }
  .footer-section hr {
    margin: 0em;
    margin-top: .5em;
    padding-bottom: .8em; }
  .footer-section .footer-content-section {
    color: white;
    font-size: 1.2em; }
  .footer-section .footer-content-section.col-xs-12 {
    color: white;
    font-size: 1.2em;
    text-align: left; }
    .footer-section .footer-content-section.col-xs-12 a {
      color: #FBDE08; }
  .footer-section li {
    list-style: none;
    margin: 0%;
    padding: 0%; }
  .footer-section big {
    font-weight: bold; }

.before-test {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 10 .before-test;
  height: 10%; }

.before-test:before {
  content: url(../Images/paisleySVG2-test.svg); }
