doctype html
head
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Test Template
	link( rel="stylesheet" href="styles/main.css")

body
	
	h1 Hello World
	ul
		li
			a(href="index.html") Home
		li
			a(href="mixin-test.html") Mixin
	p " HERE!"