include index.pug

p. 
Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
Lorem IpsumLorem IpsumLorem IpsumLorem Ipsu
Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum

p "This is a paragraph"

.div1
	ul
		li item 1
		li item 2
		li item 3
	img(src="https://media.giphy.com/media/2NKQ8MmushHi0/giphy.gif")