.row.footer-section
    .col-xs-12.col-sm-12.col-lg-4.footer-links.footer-content-section
        hr
        big Links
        br
        .div
            include ../Misc/links.pug
    .col-xs-12.col-sm-12.col-lg-4.footer-links.footer-content-section
        hr
        big Information
        br
        .div
            | Some other information
    .col-xs-12.col-sm-12.col-lg-4.footer-address.footer-content-section
        hr
        big Contact
        br
        .div
            |Call: 
            a(href='tel:3303360166') 
                | (330) 336-0166
        .div
            |Email: 
            a(href='mailto:info@wardheatingcooling.com')
                | info@wardheatingcooling.com
            