.bg-fill
      .logo-navi
        img(src='Images/Ward-Logo.png', alt='Logo')
      nav.main-navi
        ul.navi-tabs
          a(href='#')
            li Products
          a(href='#')
            li Service
          a(href='#')
            li Financing
          a(href='#')
            li Resources
          ul.util-navi
            a(href='#')
              li Offers
            a(href='#')
              li Contact
            a(href='#')
              li About