$ward-color: #3212B3;
$bg-color: black;
$logo-bg-color: #e6eeff;
$text-color: white;
$utility-nav-hover-color: #002b80;
$main-accent-color: #775CE6;


$main-color: #1A5AC8;
$main-second-color: #4759FB;
$base-color: #FBDE08;
$second-color: #97C81A;
$second-accent-color: #7D9540;
$main-text-color: white;
$second-text-color: #636363;
$utility-nav-color:#1A9AC3;

body{
    background: $second-text-color;
   
    text-align: center;
}

.bg-fill {
    /*background: $text-color;*/


    .logo-navi {
        background: $text-color;
        width: 100%;
        margin: 0px;
        padding: 30px 0px;
    }
}






nav {

    ul {
        background: $utility-nav-hover-color;
        font-size: 25px;
        list-style: none;
        margin: 0%;
        padding: 0%;

        a {
            display: inline-block;
            padding: 2% 8%;
            font-size:larger;
            li {
                color: $main-text-color;
            }
        }

        a:hover {
            background: $main-color;
            text-decoration: none;

            li {
            }
        }
    }
}



.util-navi {
    text-align:center;
    background: $utility-nav-color;
    font-size:large;
    a {

        padding:0% 4%;
        margin: 0%;
    }

    a:hover {


        li {
        }
    }
}


.copy-content{
    //width:60%;
    background: $main-text-color; 
}

.footer-section{
    background-color: $main-color;
    padding: 1em 0em 3em 0em;
    hr{
        margin: 0em;
        margin-top: .5em;
        padding-bottom: .8em;
    }
    .footer-content-section{
        color: $main-text-color;
        font-size: 1.2em;
    }
    .footer-content-section.col-xs-12{
        color: $main-text-color;
        font-size: 1.2em;
        text-align: left;
        a{
            color: $base-color;
        }
        
    }
    li{
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
    big{
        font-weight: bold;
    }
    
}
.before-test{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 10&;
    height: 10%
}
.before-test:before{
  content: url(../Images/paisleySVG2-test.svg);
  
}
